{% extends 'base.twig' %}

{% block title %} | Account{% endblock %}

{% block content %}
    <div class="userInputFormContainer">
        <div class="pageTitle">Edit Account</div>
        <form class="userInputForm" action="/account/update" method="post">
            <div>
                <label class="userInputBoxLabel">Username:<br>
                    <input required class="userInputBox" name="name" value="{{ auth.name }}">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">E-mail:<br>
                    <input required class="userInputBox" name="email" value="{{ auth.email }}">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">Enter password to confirm:<br>
                    <input required class="userInputBox" name="password" type="password">
                </label>
            </div>
            <div class="alignCenter addMarginTop">
                <button class="submitButton">Save</button>
            </div>
        </form>

        {% if messages.update %}
            <div class="flashMessage">{{ messages.update }}</div>
        {% endif %}
        {% if errors.name %}
            <div class="errorMessage">ERROR: {{ errors.name }}</div>
        {% endif %}
        {% if errors.email %}
            <div class="errorMessage">ERROR: {{ errors.email }}</div>
        {% endif %}
        {% if errors.passwordMatchingEdit %}
            <div class="errorMessage">ERROR: {{ errors.passwordMatchingEdit }}</div>
        {% endif %}
    </div>

    <div class="userInputFormContainer">
        <div class="pageTitle">Change Password</div>
        <form class="userInputForm" action="/account/update-password" method="post">
            <div>
                <label class="userInputBoxLabel">Current password:<br>
                    <input required class="userInputBox" name="passwordCurrent" type="password">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">New password:<br>
                    <input required class="userInputBox" name="passwordNew" type="password">
                </label>
            </div>
            <div class="addMarginTop">
                <label class="userInputBoxLabel">Repeat new password:<br>
                    <input required class="userInputBox" name="passwordNewRepeated" type="password">
                </label>
            </div>
            <div class="alignCenter addMarginTop">
                <button class="submitButton">Save</button>
            </div>
        </form>

        {% if messages.updatePassword %}
            <div class="flashMessage">{{ messages.updatePassword }}</div>
        {% endif %}
        {% if errors.passwordMatchingPassword %}
            <div class="errorMessage">ERROR: {{ errors.passwordMatchingPassword }}</div>
        {% endif %}
        {% if errors.password %}
            <div class="errorMessage">ERROR: {{ errors.password }}</div>
        {% endif %}
        {% if errors.passwordRepeated %}
            <div class="errorMessage">ERROR: {{ errors.passwordRepeated }}</div>
        {% endif %}

    </div>

    <div class="userInputFormContainer">
        <div class="pageTitle">Delete Account</div>
        <form class="userInputForm" action="/account/delete" method="post">
            <div>
                <label class="userInputBoxLabel">Enter password to confirm:<br>
                    <input required class="userInputBox " name="passwordForDeletion" type="password">
                </label>
            </div>
            <div class="alignCenter addMarginTop">
                <button class="submitButton dangerButton">Delete Account</button>
            </div>
        </form>

        {% if errors.passwordMatchingDelete %}
            <div class="errorMessage">ERROR: {{ errors.passwordMatchingDelete }}</div>
        {% endif %}
    </div>

{% endblock %}