{% extends 'base.twig' %}

{% block content %}
    {% if errors.nothingFound %}
        <p class="p-2 mt-2 rounded-lg bg-red-100 border-2 border-red-600 text-sm text-red-600 font-medium">
            ERROR: {{ errors.nothingFound }}
        </p>
    {% else %}
        <div class="w-full max-w-4xl min-w-fit p-0.5 bg-white border border-gray-500 rounded-lg shadow-md sm:p-2 md:p-4 dark:bg-gray-800 dark:border-gray-700">

            <h2 class="text-4xl dark:text-white mb-4 text-center">Cryptocurrency Prices</h2>

            <table class="w-full text-right dark:text-white">
                <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th>Price</th>
                    <th>Change 1h</th>
                    <th>Change 24h</th>
                    <th>Change 7d</th>
                </tr>
                </thead>
                <tbody>
                {% for currency in currencies %}
                    <tr class="border-t-2 border-gray-300 dark:border-gray-700">
                        <td class="text-left">
                            <a href="/currency/{{ currency.getSymbol }}"
                               class="font-semibold hover:underline">
                                {{ currency.getName }} ({{ currency.getSymbol }})
                            </a>
                        </td>
                        <td>
                            {% if currency.getPrice < 1 %}
                                {{ currency.getPrice | format_currency(currencyCode, {max_significant_digits_used: 4}) }}
                            {% else %}
                                {{ (currency.getPrice | format_currency(currencyCode, {fraction_digit: 2})) | replace({',': ''}) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if currency.getChange1h > 0 %}
                                <span class="text-green-700 dark:text-green-400">&#9650;{{ (currency.getChange1h) | round(2) }}%</span>
                            {% else %}
                                <span class="text-red-700 dark:text-red-400">&#9660;{{ (currency.getChange1h) | abs | round(2) }}%</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if currency.getChange24h > 0 %}
                                <span class="text-green-700 dark:text-green-400">&#9650;{{ (currency.getChange24h) | round(2) }}%</span>
                            {% else %}
                                <span class="text-red-700 dark:text-red-400">&#9660;{{ (currency.getChange24h) | abs | round(2) }}%</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if currency.getChange7d > 0 %}
                                <span class="text-green-700 dark:text-green-400">&#9650;{{ (currency.getChange7d) | round(2) }}%</span>
                            {% else %}
                                <span class="text-red-700 dark:text-red-400">&#9660;{{ (currency.getChange7d) | abs | round(2) }}%</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}