{% extends 'base.twig' %}

{% block title %} | Transactions{% endblock %}

{% block content %}
    <div class="pageHeading addMarginTop">Transaction Statistics</div>
    {% if errors.nothingFound %}
        <div class="errorMessage">ERROR: {{ errors.nothingFound }}</div>
    {% else %}
        <table class="walletDetailsTable">
            <thead>
            <tr>
                <th>&#8470;</th>
                <th>Symbol</th>
                <th>Amount</th>
                <th>Average Price</th>
                <th>Income</th>
                <th>Expenditure</th>
                <th>Value in wallet</th>
                <th>Profit</th>
            </tr>
            </thead>
            <tbody>
            {% for statistic in statistics.getStatistics.getAll %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ statistic.getSymbol }}</td>
                    <td>
                        {{ statistic.getAmount | abs | round(2) }}
                    </td>
                    <td>
                        {{ statistic.getAveragePrice | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistic.getIncome | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistic.getExpenditure | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistic.getWalletValue | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td class="{% if profit > 0 %}greenText{% else %}redText{% endif %}">
                        {{ statistic.getProfit | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>
                        {{ statistics.getTotalAmount | abs | round(2) }}
                    </td>
                    <td>
                        {{ statistics.getAveragePrice | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistics.getTotalIncome | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistics.getTotalExpenditure | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td>
                        {{ statistics.getWalletValue | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                    <td class="{% if profit > 0 %}greenText{% else %}redText{% endif %}">
                        {{ statistics.getTotalProfit | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}