{% extends 'base.twig' %}

{% block title %} | Transactions{% endblock %}

{% block content %}
    <div class="pageHeading addMarginTop">Transactions</div>
    {% if errors.nothingFound %}
        <div class="errorMessage">ERROR: {{ errors.nothingFound }}</div>
    {% else %}
        <table class="transactionsTable">
            <thead>
            <tr>
                <th>&#8470;</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Type</th>
                <th>From</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ transaction.getSymbol }}</td>
                    <td>
                        {% if transaction.getPrice < 1 %}
                            {{ transaction.getPrice | format_currency(currencyCode, {max_significant_digits_used: 4}) }}
                        {% else %}
                            {{ transaction.getPrice | format_currency(currencyCode, {fraction_digit: 2}) | replace({',': ''}) }}
                        {% endif %}
                    </td>
                    <td>
                        {{ transaction.getAmount | abs | number_format(8, '.', '') | trim('0', 'right') | trim('.', 'right') }}
                    </td>
                    <td>
                        {% if transaction.getAmount > 0 %} added {% else %} removed {% endif %}
                    </td>
                    <td>
                        {% if transaction.getSenderId %}
                            <a id="alignCellContentsRight" href="/profile/{{ transaction.getSenderId }}">{{ transaction.getSenderName }}</a>
                        {% elseif transaction.getAmount > 0 %}
                            market
                        {% else %}
                            wallet
                        {% endif %}
                    </td>
                    <td>{{ transaction.getDateTime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
{% endblock %}