{% extends 'base.twig' %}

{% block title %} | Search Users{% endblock %}

{% block content %}
    <div class="w-full max-w-sm min-w-xs p-2 bg-white border border-gray-500 rounded-lg shadow-md sm:p-4 md:p-6
         dark:bg-gray-800">

        <h2 class="w-fit mb-4 mx-auto text-4xl dark:text-white">
            Search Users: {{ userSearchQuery }}
        </h2>

        {% include('partials/form_user_search.twig') %}

        {% if errors.nothingFound %}
            <p class="p-2 my-4 rounded-lg bg-red-100 border-2 border-red-600 text-sm text-red-600 font-medium">
                ERROR: {{ errors.nothingFound }}
            </p>
        {% else %}
            <div class="my-4">
                {% for user in users %}
                    <p class="font-semibold hover:underline mb-1 dark:text-white">
                        <a href="/profile/{{ user.getId }}">{{ user.getName }}</a>
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="flex items-center">
            <div class="flex-1 text-right pr-[0.3rem] dark:text-white">
                {% if page > 1 %}
                    <a href="/search/{{ userSearchQuery }}/{{ page - 1 }}"
                       class="font-semibold hover:underline dark:text-white">
                        Previous
                    </a>
                {% else %}
                    <span class="text-neutral-400 dark:text-neutral-600">Previous</span>
                {% endif %}
            </div>
            <div class="pageInputFormContainer">
                <form id="userPagerForm" action="/search/{{ userSearchQuery }}/" method="post"
                      onsubmit="appendUrlUsersSearchPage()">
                    <label for="pageInput">
                        <input required id="pageInput" type="text" name="pageInput"
                               class="w-24 mx-auto bg-gray-50 border-4 border-gray-300 text-gray-900 rounded-lg
                               focus:ring-blue-500 focus:border-blue-500 block w-full p-1 dark:bg-gray-700
                               dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                               dark:focus:border-blue-500"
                               placeholder="{% if page %}{{ page }}{% else %}1{% endif %} of {{ pageCount }}">
                    </label>
                </form>
            </div>
            <div class="flex-1 text-left pl-[0.3rem] dark:text-white">
                {% if page < pageCount %}
                    <a href="/search/{{ userSearchQuery }}/{{ page + 1 }}"
                       class="font-semibold hover:underline dark:text-white">
                        Next
                    </a>
                {% else %}
                    <span class="text-neutral-400 dark:text-neutral-600">Next</span>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}