{% extends 'base.twig' %}

{% block title %} | Users{% endblock %}

{% block content %}
    <div class="userInputFormContainer">
        <div class="pageTitle">All Users</div>

        {% include('partials/form_search_user.twig') %}

        {% if errors.nothingFound %}
            <div class="errorMessage">ERROR: {{ errors.nothingFound }}</div>
        {% else %}
            {% for user in users %}
                <div class="addMarginTop">
                    <a href="/profile/{{ user.getId }}">{{ user.getName }}</a>
                </div>
            {% endfor %}
        {% endif %}

        <br>
        <div class="pageSelectorContainer">
            <div class="previousPage">
                {% if page > 1 %}
                    <a href="/users/{{ page - 1 }}">Previous</a>
                {% else %}
                    <span class="grayText">Previous</span>
                {% endif %}
            </div>
            <div class="pageInputFormContainer">
                <form id="userPagerForm" action="/users/" method="post" onsubmit="appendUsersPageURl()">
                    <label for="pageInput">
                        <input required id="pageInput" class="pageInputBox" type="text" name="pageInput"
                               placeholder="Page {% if page %}{{ page }} of {{ pageCount }}{% else %}1 of 1{% endif %}">
                    </label>
                </form>
            </div>
            <div class="nextPage">
                {% if page < pageCount %}
                    <a href="/users/{{ page + 1 }}">Next</a>
                {% else %}
                    <span class="grayText">Next</span>
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}