{% extends 'base.twig' %}

{% block title %} | Wallet{% endblock %}

{% block content %}
    <div class="w-full max-w-sm min-w-xs p-2 bg-white border border-gray-500 rounded-lg shadow-md sm:p-4 md:p-6
         dark:bg-gray-800">

        <h2 class="w-fit mb-4 mx-auto text-4xl dark:text-white">
            Wallet
        </h2>

        <div class="mb-2 dark:text-white">
            Account Balance: {{ auth.wallet | format_currency(currencyCode) | replace({',': ''}) }}
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div>
                <div class="mt-2 block font-medium text-gray-900 dark:text-white">
                    <label for="amountToDeposit">Deposit money:</label>
                </div>
                <form class="w-full" action="/wallet/deposit" method="post">
                    <input type="text" id="amountToDeposit" name="amount" placeholder="Amount" spellcheck="false"
                           class="w-full bg-gray-50 border-4 border-gray-300 text-gray-900 rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600
                   dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required>
                    <div class="w-fit mx-auto mt-2">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                                focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2 text-center
                                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Deposit
                        </button>
                    </div>
                </form>
            </div>

            <div>
                <div class="mt-2 block font-medium text-gray-900 dark:text-white">
                    <label for="amountToWithdraw">Withdraw money:</label>
                </div>
                <form class="w-full" action="/wallet/withdraw" method="post">
                    <input type="text" id="amountToWithdraw" name="amount" placeholder="Amount" spellcheck="false"
                           class="w-full bg-gray-50 border-4 border-gray-300 text-gray-900 rounded-lg
                           focus:ring-blue-500 focus:border-blue-500 block p-1 dark:bg-gray-700 dark:border-gray-600
                           dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           required>
                    <div class="w-fit mx-auto mt-2">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                                focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2 text-center
                                dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Withdraw
                        </button>
                    </div>
                </form>
            </div>
        </div>

        {% if messages.wallet %}
            <p class="p-2 mt-2 rounded-lg bg-green-100 border-2 border-green-600 text-sm text-green-600 font-medium">
                {{ messages.wallet }}
            </p>
        {% endif %}
        {% if errors.wallet %}
            <p class="p-2 mt-2 rounded-lg bg-red-100 border-2 border-red-600 text-sm text-red-600 font-medium">
                ERROR: {{ errors.wallet }}
            </p>
        {% endif %}

    </div>

    {% if balances.getCount is not same as 0 %}
        <div class="w-full max-w-sm min-w-xs mt-3 p-2 bg-white border border-gray-500 rounded-lg shadow-md sm:p-4 md:p-6
             dark:bg-gray-800">

            <h2 class="w-fit mb-4 mx-auto text-4xl dark:text-white">
                Cryptocurrencies
            </h2>

            <div class="grid grid-cols-[minmax(2rem,_auto)_minmax(5rem,_auto)_minmax(6rem,_auto)_minmax(6rem,_1fr)]
                     text-lg text-right dark:text-white">
                <div class="text-left">
                    &#8470;
                </div>
                <div>Symbol</div>
                <div>Amount</div>
                <div>Value</div>

                {% for balance in balances.getAll %}
                    <div class="text-left">
                        {{ loop.index }}
                    </div>
                    <div>
                        <a class="hover:underline font-semibold" href="/currency/{{ balance.getSymbol }}">
                            {{ balance.getSymbol }}
                        </a>
                    </div>
                    <div {% if balance.getAmount < 0 %} class="text-red-700 dark:text-red-400"{% endif %}>
                        {{ balance.getAmount | round(8) }}
                    </div>
                    <div {% if balance.getAmount < 0 %} class="text-red-700 dark:text-red-400"{% endif %}>
                        {{ balance.getValue | format_currency(currencyCode) | replace({',': ''}) }}
                    </div>
                {% endfor %}
            </div>

            <ul class="mt-6">
                <li class="font-semibold hover:underline dark:text-white mt-2">
                    <a href="/transactions">List all transactions</a>
                </li>
                <li class="font-semibold hover:underline dark:text-white mt-2">
                    <a href="/statistics">Transaction statistics</a>
                </li>
                <li class="font-semibold hover:underline dark:text-white mt-2">
                    <a href="/users">Gift cryptocurrency</a>
                </li>
            </ul>

        </div>
    {% endif %}

{% endblock %}