{% extends 'base.twig' %}

{% block title %} | Wallet{% endblock %}

{% block content %}
    <div class="userInputFormContainer">
        <div class="pageTitle">Wallet</div>
        <div>
            Wallet:
            {{ (auth.wallet | format_currency(currencyCode)) | replace({',': ''}) }}
        </div>
        {% for balance in balances %}
            <div class="addMarginTop">
                {{ balance.getSymbol }}:
                {{ balance.getAmount | number_format(8, '.', '') | trim('0', 'right') | trim('.', 'right') }}
            </div>
        {% endfor %}
        <br>
        <div>
            <a href="/statistics">Transaction Statistics</a>
            <a href="/transactions">List all transactions</a>
        </div>
        <br>
        <div class="addMarginTop">
            <label for="addMoney">Deposit money:</label>
        </div>
        <form class="twoFieldInputForm" action="/wallet/deposit" method="post">
            <input required id="addMoney" class="shortInputBox" name="amount" type="text" placeholder="Amount">
            <button class="submitButton">Confirm</button>
        </form>

        <div class="addMarginTop">
            <label for="addMoney">Withdraw money:</label>
        </div>
        <form class="twoFieldInputForm" action="/wallet/withdraw" method="post">
            <input required id="addMoney" class="shortInputBox" name="amount" type="text" placeholder="Amount">
            <button class="submitButton">Confirm</button>
        </form>

        {% if messages.wallet %}
            <div class="flashMessage">{{ messages.wallet }}</div>
        {% endif %}
        {% if errors.wallet %}
            <div class="errorMessage">ERROR: {{ errors.wallet }}</div>
        {% endif %}
    </div>
{% endblock %}